<mat-card class="benefits">

	<mat-card-title>
		Cost of Benefits
			<button mat-mini-fab color="accent" class="add" title="Add Employee" (click)="openAddEmployee()">
				<fa-icon [icon]="faPlus"></fa-icon>
			</button>
	</mat-card-title>
	<mat-card-subtitle>Select an employee to view their cost of benefits</mat-card-subtitle>

	<mat-card-content>

		<form>
			<div class="form-row">
				<mat-form-field class="full-width search" appearance="outline">
					<mat-icon matPrefix color="accent">search</mat-icon>
					<mat-label>Employee</mat-label>
					<input type="text" matInput [formControl]="employeeControl" [matAutocomplete]="auto">
					<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
						<mat-option *ngFor="let employee of filteredEmployees | async" [value]="employee">
							{{employee.firstName}} {{employee.lastName}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>
		</form>

		<mat-divider></mat-divider>
		<br>

		<div class="summary">
			<mat-card class="sub-card">
				<mat-card-title>Employee</mat-card-title>
			</mat-card>
			<mat-card class="sub-card">
				<mat-card-title>Dependents</mat-card-title>
			</mat-card>
		</div>

	</mat-card-content>

</mat-card>